/*Buttons Buttons Buttons Buttons Buttons Buttons Buttons Buttons Buttons Buttons Buttons Buttons Buttons Buttons*/

/*TabHeader TabHeader TabHeader TabHeader TabHeader TabHeader TabHeader TabHeader TabHeader TabHeader TabHeader*/
.bttab
{
    border: 0;
    padding: 0;
    width: 100%;
    height: 30px;
    margin: 0;
    font-weight: 700;

    background: transparent;
    filter: hue-rotate(-20deg);
}
.current
{
    border: 1px solid black;
}

#TabHeader th
{
    border: 1px solid black;
    padding: 0;
    width:205px;
}

/*User action*/
.btdoit
{
    width: 130px;
    height: 32px;
    line-height: 20px;
    margin: 10px;
    cursor: pointer;
}


/*All buttons*/
.bt
{
    background: transparent;
    font-weight: 600;
}



.btlong
{
    width: 200px;
}





#idCounters
{
    background-image: url('/HTML/PIC/counters.png');
    background-repeat: no-repeat;
    background-size: 15%;
}

#idChains
{
    background-image: url('/HTML/PIC/chains.png');
    background-repeat: no-repeat;
    background-size: 15%;
}



#idViewAccounts
{
    background-image: url('/HTML/PIC/table.png');
    background-repeat: no-repeat;
    background-size: 15%;
}

#idMonitor
{
    background-image: url('/HTML/PIC/monitor.png');
    background-repeat: no-repeat;
    background-size: 15%;
}

#idConsole
{
    background-image: url('/HTML/PIC/console.png');
    background-repeat: no-repeat;
    background-size:15%;
}

#idConsole2
{
    background-image: url('/HTML/PIC/test.png');
    background-repeat: no-repeat;
    background-size:15%;
    filter2: hue-rotate(-180deg);
}
